<h1>Restaurants</h1>

<ul>
  <% @restaurants.each do |restaurant| %>
    <li>
        <%= link_to restaurant.name, restaurant %> -
        <%= restaurant.restaurant_locations.take.address %>,
        <%= restaurant.locations.take.city  %>,
        <%= restaurant.locations.take.province  %>,
        <%= restaurant.locations.take.country  %>
    </li>
  <% end %>
</ul>

