<h1><%= @restaurant.name %></h1>

<p>Cuisine: <%= @restaurant.cuisine %></p>

  <p>
    <strong><%=link_to "Location:", @restaurant.locations.take %></strong>
    <%= @restaurant.restaurant_locations.take.address  %>,
    <%= @restaurant.locations.take.city  %>,
    <%= @restaurant.locations.take.province  %>,
    <%= @restaurant.locations.take.country  %>
  </p>

<h2>Dishes:</h2>

<% @restaurant.dishes.each do |dish| %>
  <p>
    <%= link_to dish.name, dish %> - $<%= dish.price %>
  </p>
<% end %>