<h1>Cities</h1>

<%= form_with(url: search_locations_path, method: :get, local: true) do %>
<div>
    <%= text_field_tag(:keywords, nil, class: "input", placeholder: 'Search For City') %>
</div>
<div>
    <%= submit_tag("Search", class: "button") %>
</div>
<% end %>

<ul>
  <% @locations.each do |location| %>
    <li>
        <%= link_to "Location", location %> -
        <%= location.restaurant_locations.take.address %>,
        <%= location.city  %>,
        <%= location.province  %>,
        <%= location.country  %>
    </li>
  <% end %>
</ul>