<!DOCTYPE html>
<html>
  <head>
    <title>FoodApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section>
      <ul>
        <li><%= link_to 'Restaurants' , root_path %></li>
        <li><%= link_to 'Dishes', dishes_path(@dishes)  %></li>
        <li><%= link_to 'Cities', locations_path(@locations)  %></li>
      </ul>
      <%= yield %>

    </section>
  </body>
</html>
